.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
.navbar{
  
  background-color: #61dafb;
  box-shadow: 1px 1px 10px grey;
  height: 40px;
}
.location{
  margin-top: 10px;
  margin-right: 10px;
}
.name{
  margin-bottom: 20px;
}
.food{
  margin-top: 20px;
}
.drama{
  margin-bottom: 20px;
}
.submitSignUpForm{
  margin-top: 20px;
}
.submitLoginForm{
  margin-top: 20px;

}
.location{
  margin-bottom: 10px;
}
.date{
  margin-bottom: 10px;
}
.theme{
  margin-bottom: 10px;

}
.submitMeetupForm{
  margin-top: 10px;

}